body {
  background-color: #C5BFE8;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
}
.cuadricula{
  
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fit, 261px 261px 261px 261px 261px);
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  margin: 10px;
  margin-top: 10px;
  margin-left: 50px;
  
  
}
.label-grande {font-size: 20px;}

